html,body {
    background: rgb(33,33,33);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;
}
h1 {
    text-align: center;
}
footer {
    text-align: center;
    color: #444;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.button {
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.3s, border-color 0.3s;
}

.button:hover {
    background-color: #e7e7e7;
    border-color: #b0b0b0;
}

.update-button {
    font-size: 1.5em;
    border: 3px solid #666;
    padding: 15px 25px;
    color: red;
}

.file-input-button {
    cursor: pointer;
    color: blue;
}

.preset-button {
    font-size: 0.9em;
}

#update-and-upload, #presets-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#presets {
    display: inline-block;
}

.text-label {
    margin-right: 5px;
    margin-left: 25px;
    font-weight: bold;
}

#presets-container {
    display: flex;
    align-items: center;
}

/* for monaco */
.wrapper {
    padding: 0 5%;
}
#monaco-editor-root {
    height: calc(100vh - 7.5rem - 130px);
}


